body {
    background: rgb(236, 255, 251);
    font: normal 15pt Arial;
}

header {
    color: rgb(27, 139, 115);
    text-align: center; 
}

section {
    background: rgb(255, 255, 255);
    border-radius: 10px; 
    padding: 15px; 
    width: 500px; 
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568); 
}

footer {
    color: rgba(27, 139, 115, 0.315);
    text-align: center;
    font-style: italic;
    font: normal 12pt Arial;
}